fastapi
uvicorn[standard]
streamlit
python-multipart
tensorflow
librosa
numpy
pandas
scikit-learn
matplotlib
requests
soundfile
audioread
seaborn
plotly
aiofiles
jinja2
pydantic
python-dateutil
typing-extensions
pathlib2
openpyxl
loguru
psutil